<form role='form' style='display: inline-block; width: auto; vertical-align: top' id='queryform'>
	<h3>Query A Character</h3>
	<div>
		<div>
			<label>Player:</label>
			<input type='text' class='form-control' name='QueryFields' autocomplete='off' ng-model='query.player'/>
		</div>
		<div>
			<label>Character:</label>
			<input type='text' class='form-control' name='QueryFields' autocomplete='off' ng-model='query.character'/>
		</div>
		<button style='margin-top: 5px' class='btn btn-default btn-small' ng-click='serverTest()'>Test</button>
	</div>
	Field: {{field}}
</form>