<form role='form' class='pull-left' style='display: inline-block; width: auto' ng-submit='addData()'>
	<h3>Player Info</h3>
	<div>
		<div ng-repeat='attr in playerAttributes'>
			<label for='attr.name'>{{attr.alias}}:</label>
			<input type='text'  class='form-control' name='attr.name' autocomplete='off' ng-model='player[attr.name]' required />
		</div>
	</div>
	<h3>Character Info</h3>
	<div>
		<div ng-repeat='attr in attributes'>
			<div class='form-group'>
				<label for='attr.name'>{{attr.alias}}:</label>
				<input type='text' class='form-control' name='attr.name' autocomplete='off' ng-model='character[attr.name]' required />
			</div>
		</div>
	</div>
	<button style='margin-top: 5px' class='btn btn-primary' ng-class="{'btn-success': submitSuccess}">Submit</button>
	<div ng-show='submitSuccess'>{{success}}</div>
</form>
<div class='center-block' style='width:100px; height: 100px'>
	Status: <br>
	<div ng-show='error' class='bg-danger '>{{error}}</div>
</div>